<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mall_User</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 读取文件 -->
  <context-param>
	  	<param-name>contextConfigLocation</param-name>
	  	<param-value>classpath:applicationContext.xml</param-value>
	  </context-param>
	  <!-- 监听器：监听tomcat的启动：
	  		就会建立spring的容器
	  config-location-param= contextConfigLocation-->
	  <listener>
	  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	  </listener>
	  
	  <!--servlet
	  		前端控制器：之前是dispatchservlet的前端控制器
	  		现在是cxfservlet的前端控制器
	  
	  	  -->
	  <servlet>
	  	<servlet-name>cxf</servlet-name>
	  	<servlet-class>
	  	<!-- 前置控制器 -->
	  		org.apache.cxf.transport.servlet.CXFServlet
	  	</servlet-class>
	  </servlet>
	  <servlet-mapping>
	  	<servlet-name>cxf</servlet-name>
	  	<url-pattern>/*</url-pattern>
	  </servlet-mapping>
</web-app>